<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Strona domowa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .text-color-mz1 {
            color: darkgreen;
        }

        .bg-color-mz1 {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body class="bg-light">
<div th:replace="fragments/header :: header">...</div>
<div th:fragment="header">
<div sec:authorize="isAuthenticated()" class="container d-grid d-md-flex justify-content-md-end">
    <span class="font-monospace fs-5 pt-2">Witaj <span sec:authentication="name" class="text-uppercase"></span>!</span>
    <a th:href="@{|/profil-edycja|}" class="btn btn-outline-danger m-1 btn-sm" href="/secure" role="button">Twój profil</a>
    <a th:href="@{|/administracja|}" sec:authorize="hasRole('ADMIN')" class="btn btn-outline-danger m-1 btn-sm" href="/administracja" role="button">Zarządzanie</a>
</div>
<div class="container d-grid d-md-flex justify-content-md-end">
    <a th:href="@{|/secure|}"  sec:authorize="!isAuthenticated()" class="btn btn-primary m-1 btn-sm" href="/secure" role="button">Logowanie</a>
    <a th:href="@{|/logout|}" sec:authorize="isAuthenticated()" class="btn btn-primary m-1 btn-sm" href="/" role="button">Wylogowanie</a>
    <a th:href="@{|/rejestracja|}" sec:authorize="!isAuthenticated()" class="btn btn-primary m-1 btn-sm btn-sm" href="/secure" role="button">Rejestracja</a>
    <a th:href="@{|/rejestracja|}" sec:authorize="hasRole('ADMIN')" class="btn btn-primary m-1 btn-sm btn-sm" href="/secure" role="button">Rejestracja</a>
</div>
</div>
</body>
</html>