<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kategorie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .text-color-mz1 {
            color: darkgreen;
        }

        .bg-color-mz1 {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body class="bg-light">

<div class="container-fluid bg-white shadow-sm mt-5 mb-2 text-color-mz1 fs-4 text-center fw-bolder pt-3 pb-3">
    <img th:src="@{src/logo.gif}" src="../static/src/logo.gif" class="mx-auto d-block" style="height: 100px"/>
    Magazyn z "Produktami"
</div>

<div class="container">
    <div class="d-grid d-md-flex justify-content-md-end">
        <a th:href="@{|/add|}" class="btn btn-success m-1" href="/add" role="button">Dodaj nowy produkt</a>
        <a th:href="@{|/|}" class="btn btn-warning m-1" href="/" role="button">Strona główna</a>
    </div>
    <div class="row pt-3">
        <div class="col-md-3">
            <p class="h6 fw-bolder mb-3">Wybierz kategorię:</p>
            <div class="btn-group-vertical" role="toolbar" >
                <a th:each="category: ${categories}" th:text="|${category.name}|" th:href="@{|/list?category=${category.name}|}" class="btn btn-warning m-1 btn-block" href="/list?kategoria=wszystko" role="button">Wszystkie
                    kategorie</a>
                <a th:remove="all" class="btn btn-warning m-1 btn-block" href="/list?kategoria=spozywcze" role="button">Artykuły spożywcze</a>
                <a th:remove="all" class="btn btn-warning m-1 btn-block" href="/list?kategoria=domowe" role="button">Artykuły gospodarstwa domowego</a>
                <a th:remove="all" class="btn btn-warning m-1 btn-block" href="/list?kategoria=inne" role="button">Inne</a>
            </div>
        </div>
        <div class="col-md" id="main">
            <p class="h6 fw-bolder mb-3">Lista produktów w  <span th:text="${selectedCategory}" class="text-primary">"Wszystkie kategorie"</span>:</p>
           <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Zdjęcie</th>
                    <th scope="col">Produkt</th>
                    <th scope="col">Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${products}" >
                    <th th:text="${product.id}" scope="row">1</th>
                    <td>
                        <img th:src="@{${product.imageUrl}}" src="../static/src/logo.gif" class="mx-auto d-block" style="height: 50px"/>
                    </td>
                    <td th:text="${product.name}">Otto</td>
                    <td th:text="${product.price}">@mdo</td>
                </tr>
                <tr th:remove="all" >
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr th:remove="all" >
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">Suma:</td>
                    <td th:text="${productsTotalSum}">$180</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid bg-color-mz1 text-secondary shadow-sm mt-5 mb-2 fs-6 text-center pt-3 pb-3">
    Designed by Michał Zygor, 2021.01
</div>
</body>
</html>